/* Resetear algunos estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f8ff; /* Fondo celeste claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #registerForm {
    background-color: white; /* Fondo blanco */
    border: 2px solid #000; /* Borde negro */
    border-radius: 10px;
    padding: 30px;
    max-width: 500px; /* Aumentar tamaño máximo */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #registerForm h2 {
    color: #007bff; /* Azul */
    text-align: center;
    margin-bottom: 20px;
  }
  
  #registerForm form {
    display: flex;
    flex-direction: column;
  }
  
  #registerForm input {
    border: 1px solid #000; /* Borde negro */
    border-radius: 5px;
    padding: 12px; /* Aumentar padding */
    margin-bottom: 15px; /* Aumentar margen inferior */
    font-size: 16px;
  }
  
  #registerForm button {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px; /* Aumentar padding */
    font-size: 18px; /* Aumentar tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #registerForm button:hover {
    background-color: #0056b3; /* Azul oscuro */
  }
  
  #registerError {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  